{% extends "base.html" %}
{% block title %}JSON requests{% endblock  %}
{% block content %}
<h1>Javascript JSON requests</h1>
<button id="post_button">Post JSON request</button>
<script type="text/javascript">
    const postButton = document.getElementById('post_button')
    const jsonData = {name : 'mlatoundji', greetings : 'Hello'}

    postButton.addEventListener('click', () => {
        fetch('{{ url_for("handle_post") }}',{
            method : 'POST',
            headers : {
                'Content-type' : 'application/json; charset=utf-8'
            },
            body : JSON.stringify(jsonData)
        })
            .then(response => response.json())
            .then(data => console.log("Success",data))
            .catch((error) => {
                console.error('Error:', error)
            })

    })

</script>
{% endblock  %}